<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Lab</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Lab 2</h1>
        <h3>Practical implementation of deployment of an application on Google App Engine</h3>
        <h5>Submitted By :- Divija Choudhary (016915509)</h5>
        <h5>Submitted to :- Z. Gao</h5>
    </div>
</body>
</html>
